*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color: white;
    --bg-dg: linear-gradient(#192335, #000000);
    --stroke-color:rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-colors-hover:rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --footer-color: white;
}
.light{
    --bg-dg: linear-gradient(#bdebdf, #4ea8fc, #ffffff);
    --text-color: black;
    --stroke-color:rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover:rgba(0, 0, 0, 0.05);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(./assets/sun.svg);
    --footer-color: #BCDBDB;
}
.light #bg-dark{
    animation: bg-out 1s forwards;
}
.light #bg-light{
    animation: bg-out 0.7s reverse forwards;
}
body{
    background: var(--bg-dg) no-repeat bottom center/cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
main{
    justify-content: center;
    display: flex;
}
#container{
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 588px;
    display: block;
    margin: 50px auto 0px;
    padding: 0 24px;
}
.bg-switch img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    position: absolute;
}
.cls-1{
    animation: moon-in 0.5s ;
}
.light .cls-1{
    animation: moon-out 0.5s forwards;
}
#profile{
    text-align: center;
    padding: 24px; 
}
#profile img{
    width: 112px;
}
#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    text-shadow: 1px 1px 5px black;
    }
.light #profile p{
    text-shadow: none;
}
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}
#switch button{
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    transform: translateY(-50%);
    animation: slide-back 0.4s;
}
#switch span{
    display: block;
    height: 24px;
    width: 64px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}
.light #switch button{
    animation: slide-in 0.4s forwards;
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0;
}
ul li a{
    border: 1px solid var(--stroke-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 16px 24px;
    background-color: var(--surface-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: background 0.2s ;
}
ul li a:hover{
    border: 1.5px solid var(--text-color);
    background-color: var(--surface-color-hover);
}
#social-links{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}
#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;

}
#social-links a:hover{
    background: var(--highlight-color);
    padding: 16px;
}
footer{
    padding: 24px;
    text-align: center;
    font-size: 16px;
    color: var(--footer-color);
    text-shadow: 1px 1px 5px black;
}
footer a{
    color: var(--footer-color);
}
@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
@keyframes moon-in{
    from{
        transform: translateY(700px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes moon-out{
    from{
        transform: translateY(0);
        opacity: 100%;
    }
    to{
        transform: translateY(-700px);
        opacity: 0;
    }
}
@keyframes bg-out{
    form{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}